*{
    font-family: Orbitron;
}

html{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 62px;
    margin: 20px 4.17%;
}
.logo{
    display:flex;
    align-items: flex-start;
    padding-top: 7px;
}
.logo1{
    display: flex;
    justify-content: left;
    padding-top: 4.19px;
}
.logo2{
    display: flex;
    justify-content: left;
    padding-left: 7.96px;
    padding-right: 6.58px;
    padding-top: 11.77px;
}
.logo3{
    display:flex;
    justify-content: left;
    align-items: baseline;
    padding-top: 26.49px;
}
#menu{
    display: flex;
    justify-content: space-around;
}
body{
    background: url(img/background2.png) right/47% 2069px  no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),url(img/background.png) left/53% 2069px no-repeat;
}
.buttons{
    display: flex;
    justify-content: right;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: transparent;
}
.buttons .buttoncart{
    padding-top: 15px;
    width: 30.79px;
    height: 32px;
}
.buttons .buttonrectangle{
    padding-top: 7px;
    width: 21px;
    height: 18px;
}
.buttons .buttoncontact{
    padding-left: 20px;
    width: 178px;
    height: 62px;
}
header li{
    display: flex;
    font-family: Orbitron;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0px 30px;
    font-weight: 400;
}
header nav{
    display: flex;
    width: 715.55px;
    height: 26px;
    justify-content: center;
    margin: 18px;
}
header a{
    color: white;
    text-decoration: none;
}
.home{
    color: #FAC422;
}
.photo {
    position: absolute;
    height: 800px;
    left: 720px;
    right: 500px;
    top: 275px;

    background: url(.png);
    border-radius: 0px;
}
.frame {
    position: absolute;
    height: 56px;
    left: 80px;
    right: 500px;
    top: 250px;

    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.future {
    position: absolute;
    font-family: 'Orbitron';
    font-style: normal;
    left: 130px;
    top: 220px;
}
.future a {
    color: #57B8FF;
}
.fire {
    position: absolute;
    display: inline-block;
    top: 215px;
    left: 90px;
    
}
.network {
    font-weight: 400;
    font-size: 12px;
    line-height: 120px;
}
.network a{
    text-decoration: none;
    position: absolute;;
    font-style: normal;
    writing-mode:  vertical-rl;
    transform: rotate(-180deg);
    line-height: 40px;
    color: #80858F;
    width: 170px;
    height: 280px;
}
.lorem {
    position: absolute;
    font-family: 'Orbitron';
    font-style: normal;
    color: #999999;
    font-size: 16px;
    left: 80px;
    top: 520px;
}
.kvadrat {
    border: 1px solid #57B8FF;
    color: #57B8FF;
    text-decoration: none;
    left: 60px;
    width: 200px;
    top: 640px;
    position: absolute;
    background: #57B8FF;
    height: 65px;

}
.kvadrat a{
    text-decoration: none;
}
.explore {
    position: absolute;
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 17px;
    left: 35px;
    width:  140px;
    top: 5px;
}   

.team {
    position: absolute;
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 16px;
    left: 300px;
    top: 665px;
}