header{
    display: flex;
    justify-content: space-between;
    height: 62px;
    margin: 20px 4.17%;
}
.logo{
    display:flex;
    align-items: flex-start;
    padding-top: 7px;
}
.logo1{
    display: flex;
    justify-content: left;
    padding-top: 4.19px;
}
.logo2{
    display: flex;
    justify-content: left;
    padding-left: 7.96px;
    padding-right: 6.58px;
    padding-top: 11.77px;
}
.logo3{
    display:flex;
    justify-content: left;
    align-items: baseline;
    padding-top: 26.49px;
}
#menu{
    display: flex;
    justify-content: space-around;
}
body{
    background: url(background2.png) right/47% 2069px  no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),url(background.png) left/53% 2069px no-repeat;
}
.buttons{
    display: flex;
    justify-content: right;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: transparent;
}
.buttoncart{
    padding-top: 15px;
    width: 30.79px;
    height: 32px;
}
.buttonrectangle{
    padding-top: 7px;
    width: 21px;
    height: 18px;
}
.buttoncontact{
    padding-left: 20px;
    width: 178px;
    height: 62px;
}
li{
    display: flex;
    font-family: Orbitron;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0px 30px;
    font-weight: 400;
}
nav{
    display: flex;
    width: 715.55px;
    height: 26px;
    justify-content: center;
    margin: 18px 302.22px;
}
a{
    color: white;
    text-decoration: none;
}
.home{
    color: #FAC422;
}
